*{
	padding: 0;
	margin: 0;
}
body{
	background-color : #8bd276;
}

#sc_content{
	width : 60%;
	margin: 20px 20%;
	height : 100%;
	background-color : #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);	
}